body { background-color: rgba(0, 0, 0, 0); margin: 0px auto; overflow: hidden; }

.controller.fight-stick {
    background: url(https://imgur.com/AEMTeDY) center no-repeat;
    height: 530px;
    width: 1500px;
}

.fight-stick .back {
    position: absolute;
    bottom: -5px;
    left: 610px;
}

.fight-stick .start {
    position: absolute;
    bottom: -5px;
    left: 701px;
}

.fight-stick .back, .fight-stick .start, .fight-stick .stick.left {
    width: 70px;
    height: 70px;
    background: #333333;
    display: block;
    border-radius: 100%;
}

.fight-stick .back.pressed, .fight-stick .start.pressed, .fight-stick .stick.right.pressed, .fight-stick .stick.left.pressed {
    transform: translateY(5px);
    -webkit-filter: brightness(0%) invert(1);
}

/* Face buttons */

.fight-stick .a {
    background: url(https://imgur.com/Dg2SRLd.png);
    bottom: -5px;
    left: 376px;
    background-position: 0px -246px; /* Position of S1 button */
}

.fight-stick .a.pressed {
    background-position: 0px -369px; /* Position of pressed S1 button */
}

.fight-stick .b {
    background: url(https://imgur.com/Dg2SRLd.png);
    bottom: 60px;
    right: -345px;
    background-position: -123px -246px; /* Position of S2 button */
}

.fight-stick .b.pressed {
    background-position: -123px -369px; /* Position of S2 button */
}

.fight-stick .x {
    background: url(https://imgur.com/Dg2SRLd.png);
    top: 70px;
    left: 409px;
    background-position: 0px 0px; /* Position of L button */
}

.fight-stick .x.pressed {
    background-position: 0px -123px; /* Position of L button */
}

.fight-stick .y {
    background: url(https://imgur.com/Dg2SRLd.png);
    right: -378px;
    top: 4px;
    background-position: -123px 0px; /* Position of M button */
}

.fight-stick .y.pressed {
    background-position: -123px -123px; /* Position of L button */
}

.fight-stick .button.pressed {
    transform: translateY(5px);
    -webkit-filter: invert(0);
}

/* Bumpers */

.fight-stick .bumper.right {
    position: absolute;
    right: 172px;
    top: 2px;
    float: left;
    background-position: -246px 0px; /* Position of H button */
}

.fight-stick .bumper.right.pressed {
    background-position: -246px -123px; /* Position of pressed H button */
}

.fight-stick .bumper.left {
    background-position: -369px 0px; /* Position of H button */
}

.fight-stick .bumper.left.pressed {
    background-position: -369px -123px; /* Position of pressed H button */
}

.fight-stick .bumper.pressed {
    -webkit-filter: invert(0);
}

.fight-stick .bumper {
    background: url(https://imgur.com/Dg2SRLd.png);
}

/* Triggers */

.fight-stick .trigger-button.right {
    position: absolute;
    right: 203px;
    top: 5px;
    float: left;
    background-position: -246px -246px; /* Position of T button */
}

.fight-stick .trigger-button.right.pressed {
    background-position: -246px -369px; /* Position of T button */
}

.fight-stick .trigger-button.left {
    position: absolute;
    right: 42px;
    top: 77px;
    float: left;
    background-position: -369px -246px;
}

.fight-stick .trigger-button.left.pressed {
    background-position: -369px -369px; /* Position of bottom-right button */
}


.fight-stick .trigger-button {
    background: url(https://imgur.com/Dg2SRLd.png); 
}

.fight-stick .trigger-button.pressed {
    transform: translateY(5px);
    -webkit-filter: invert(0);
}

/* L3/R3 */

span.stick.right {
    position: absolute;
    bottom: 37px;
    left: 748px;
}

span.stick.left {
    position: absolute;
    bottom: 37px;
    left: 659px;
}

.fight-stick .quadrant {
    display: none;
}

.fight-stick .fstick {
    display: none;
}

.fight-stick .stick.right {
    width: 70px;
    height: 70px;
    background: #333333;
    display: block;
    border-radius: 100%;
}

.fight-stick .face.up {
    width: 123px;
    height: 123px;
    background: #333333;
    border-radius: 100%;
    opacity: 1;
    display: block;
    position:absolute;
    bottom: 15px;
    left: 493px;
}

.fight-stick .face.right {
    width: 123px;
    height: 123px;
    background: #333333;
    border-radius: 100%;
    opacity: 1;
    display: block;
    position: absolute;
    bottom: 226px;
    left: 485px;
}

.fight-stick .face.down {
    width: 123px;
    height: 123px;
    background: #333333;
    border-radius: 100%;
    opacity: 1;
    display: block;
    position: absolute;
    bottom: 318px;
    left: 352px;
}

.fight-stick .face.left {
    width: 123px;
    height: 123px;
    background: #333333;
    border-radius: 100%;
    opacity: 1;
    display: block;
    position: absolute;
    bottom: 334px;
    left: 185px;
}

.fight-stick .face.pressed {
    transform: translateY(5px);
    -webkit-filter: brightness(0%) invert(1);
}
