@import url("../../base-hitbox-layout-grey-buttons.css");

:root {
    /* Arrow button image links */
    --left-arrow-source-image: url(https://raw.githubusercontent.com/KurtMage/KurtMage.github.io/main/images/Console%20controllers/xbox/xbox%20left.png);
    --down-arrow-source-image: url(https://raw.githubusercontent.com/KurtMage/KurtMage.github.io/main/images/Console%20controllers/xbox/xbox%20down.png);
    --right-arrow-source-image: url(https://raw.githubusercontent.com/KurtMage/KurtMage.github.io/main/images/Console%20controllers/xbox/xbox%20right.png);
    --up-arrow-source-image: url(https://raw.githubusercontent.com/KurtMage/KurtMage.github.io/main/images/Console%20controllers/xbox/xbox%20up.png);

     /* Right side button image links */
    --top-row-index-finger-button-source-image: url(https://raw.githubusercontent.com/KurtMage/KurtMage.github.io/main/images/Console%20controllers/xbox/X-simple.png);
    --top-row-middle-finger-button-source-image: url(https://raw.githubusercontent.com/KurtMage/KurtMage.github.io/main/images/Console%20controllers/xbox/Y-simple.png);
    --top-row-ring-finger-button-source-image: url(https://raw.githubusercontent.com/KurtMage/KurtMage.github.io/main/images/Console%20controllers/xbox/rb.png);
    --top-row-pinky-finger-button-source-image: url(https://raw.githubusercontent.com/KurtMage/KurtMage.github.io/main/images/Console%20controllers/xbox/lb.png);
    
    --bot-row-index-finger-button-source-image: url(https://raw.githubusercontent.com/KurtMage/KurtMage.github.io/main/images/Console%20controllers/xbox/A-simple.png);
    --bot-row-middle-finger-button-source-image: url(https://raw.githubusercontent.com/KurtMage/KurtMage.github.io/main/images/Console%20controllers/xbox/B-simple.png);
    --bot-row-ring-finger-button-source-image: url(https://raw.githubusercontent.com/KurtMage/KurtMage.github.io/main/images/Console%20controllers/xbox/rt.png);
    --bot-row-pinky-finger-button-source-image: url(https://raw.githubusercontent.com/KurtMage/KurtMage.github.io/main/images/Console%20controllers/xbox/lt.png);

    /* Start/back vars */
    --start-button-source-image: url(https://raw.githubusercontent.com/KurtMage/KurtMage.github.io/main/images/Console%20controllers/xbox/Start-simple.png);
    --back-button-source-image: url(https://raw.githubusercontent.com/KurtMage/KurtMage.github.io/main/images/Console%20controllers/xbox/Back-simple.png);

    /* L3/R3 button vars */
    --ls-button-source-image: url(https://raw.githubusercontent.com/KurtMage/KurtMage.github.io/main/images/Console%20controllers/xbox/ls.png);
    --rs-button-source-image: url(https://raw.githubusercontent.com/KurtMage/KurtMage.github.io/main/images/Console%20controllers/xbox/rs.png);

    /* Stick vars */
    --fstick-source-image: url(https://imgur.com/Cdxibvo.png);

    /* Location vars */
    --a-top: 375px;
    --b-top: calc(var(--a-top) - var(--diag-vert-clearance));
    --x-top: calc(var(--a-top) - var(--vert-clearance));
    --y-top: calc(var(--x-top) - var(--diag-vert-clearance));
    --rb-top: calc(var(--y-top));
    --lb-top: calc(var(--rb-top));
    --rt-top: calc(var(--rb-top) + var(--vert-clearance));
    --lt-top: var(--rt-top);
    --start-top: calc(var(--x-top) - 95px);
    --back-top: calc(var(--start-top));
    --ls-top: calc(var(--a-top) + 100px);
    --rs-top: calc(var(--a-top) + 100px);
    
    --a-left: 575px;
    --b-left: calc(var(--a-left) + var(--diag-horz-clearance));
    --x-left: var(--a-left);
    --y-left: calc(var(--a-left) + var(--diag-horz-clearance));
    --rb-left: calc(var(--y-left) + var(--horz-clearance));
    --lb-left: calc(var(--rb-left) + var(--horz-clearance));
    --rt-left: calc(var(--rb-left));
    --lt-left: calc(var(--rt-left) + var(--horz-clearance));
    --start-left: calc(var(--x-left) - 91px);
    --back-left: calc(var(--start-left) - 104px);
    --ls-left: calc(var(--a-left) - 280px);
    --rs-left: calc(calc(var(--a-left) + 130px));
    
    --dir-right-top: calc(var(--x-top) + 75px);
    --dir-right-left: calc(var(--x-left) - 150px);
    --dir-down-top: calc(var(--dir-right-top) - var(--diag-vert-clearance));
    --dir-down-left: calc(var(--dir-right-left) - var(--diag-horz-clearance));
    --dir-left-top: var(--dir-down-top);
    --dir-left-left: calc(var(--dir-down-left) - var(--horz-clearance));
    --dir-up-top: calc(var(--dir-right-top) + 230px);
    --dir-up-left: calc(var(--dir-right-left) + 75px);

    --vert-clearance: 160px;
    --diag-vert-clearance: 80px;
    --diag-horz-clearance: 140px;
    --horz-clearance: var(--vert-clearance);
}
