body { background-color: rgba(0, 0, 0, 0); margin: 0px auto; overflow: hidden; }

.controller.fight-stick {
    background: url(https://imgur.com/AEMTeDY.png) center no-repeat;
    height: 535px;
    width: 1500px;
}

/* start/back */

.fight-stick .back {
    position: absolute;
    top: -37px;
    left: 1271px;
}

.fight-stick .start {
    position: absolute;
    top: -37px;
    left: 1362px;
}

.fight-stick .back, .fight-stick .start {
    width: 70px;
    height: 70px;
    background: #333333;
    display: block;
    border-radius: 100%;
}

.fight-stick .back.pressed, .fight-stick .start.pressed {
    transform: translateY(2px);
    -webkit-filter: brightness(0%) invert(1);
}

/* Face buttons */

.fight-stick .a {
    bottom: 19px;
    left: 376px;
    background: aqua;
    -webkit-filter: brightness(50%);
}

.fight-stick .b {
    bottom: 84px;
    right: -345px;
    background: yellow;
    -webkit-filter: brightness(50%);
}

.fight-stick .x {
    top: 46px;
    left: 409px;
    background: aqua;
    -webkit-filter: brightness(50%);
}

.fight-stick .y {
    right: -378px;
    top: -19px;
    background: yellow;
    -webkit-filter: brightness(50%);
}

.fight-stick .button.pressed {
    transform: translateY(5px);
    -webkit-filter: brightness(0%) invert(1)
}

/* Bumpers */

.fight-stick .bumper.right {
    position: absolute;
    right: 172px;
    top: -17px;
    float: left;
    background-position: -246px 0px; /* Position of H button */
    -webkit-filter: brightness(50%);
}

.fight-stick .bumper.pressed {
    transform: translateY(5px);
    -webkit-filter: brightness(0%) invert(1)
}

.fight-stick .bumper {
    background: url(https://imgur.com/Dg2SRLd.png);
}

/* Triggers */

.fight-stick .trigger-button.right {
    position: absolute;
    right: 203px;
    top: -19px;
    float: left;
    background: red;
    -webkit-filter: brightness(50%);
}

.fight-stick .trigger-button {
    background: url(https://imgur.com/Dg2SRLd.png); 
}

.fight-stick .trigger-button.pressed {
    transform: translateY(5px);
    -webkit-filter: brightness(0%) invert(1)
}

/* L3/R3 */

.fight-stick .quadrant {
    display: none;
}

.fight-stick .fstick {
    display: none;
}

/* Direction buttons */

.fight-stick .face.up {
    width: 123px;
    height: 123px;
    background: #333333;
    border-radius: 100%;
    opacity: 1;
    display: block;
    position:absolute;
    bottom: 17px;
    left: 705px;
}

.fight-stick .face.right {
    width: 123px;
    height: 123px;
    background: #333333;
    border-radius: 100%;
    opacity: 1;
    display: block;
    position: absolute;
    bottom: 231px;
    left: 698px;
}

.fight-stick .face.down {
    width: 123px;
    height: 123px;
    background: #333333;
    border-radius: 100%;
    opacity: 1;
    display: block;
    position: absolute;
    bottom: 322px;
    left: 563px;
}

.fight-stick .face.left {
    width: 123px;
    height: 123px;
    background: #333333;
    border-radius: 100%;
    opacity: 1;
    display: block;
    position: absolute;
    bottom: 338px;
    left: 397px;
}

.fight-stick .face.pressed {
    transform: translateY(5px);
    -webkit-filter: brightness(0%) invert(1);
}
