body { background-color: rgba(0, 0, 0, 0); margin: 0px auto; overflow: hidden; }

.ds4 .button {
    background: url(https://imgur.com/9ZfHCcU.png);
}

.ds4 .x {
    background-position: 113px 0;
}

.ds4 .y {
    background-position: 55px 0;
}

.ds4 .b {
    background-position: -57px 0;
}
