body { background-color: rgba(0, 0, 0, 0); margin: 0px auto; overflow: hidden; }

:root {
    /* Arrow button image links */
    --left-arrow-source-image: url("https://raw.githubusercontent.com/KurtMage/KurtMage.github.io/main/images/2XKO/2025/Arrow Left.png");
    --down-arrow-source-image: url("https://raw.githubusercontent.com/KurtMage/KurtMage.github.io/main/images/2XKO/2025/Arrow Down.png");
    --right-arrow-source-image: url("https://raw.githubusercontent.com/KurtMage/KurtMage.github.io/main/images/2XKO/2025/Arrow Right.png");
    --up-arrow-source-image: url("https://raw.githubusercontent.com/KurtMage/KurtMage.github.io/main/images/2XKO/2025/Arrow Up.png");

     /* Right side button image links */
    --top-row-index-finger-button-source-image: url("https://raw.githubusercontent.com/KurtMage/KurtMage.github.io/main/images/2XKO/2025/L.png");
    --top-row-middle-finger-button-source-image: url("https://raw.githubusercontent.com/KurtMage/KurtMage.github.io/main/images/2XKO/2025/M.png");
    --top-row-ring-finger-button-source-image: url("https://raw.githubusercontent.com/KurtMage/KurtMage.github.io/main/images/2XKO/2025/H.png");
    --top-row-pinky-finger-button-source-image: url("https://raw.githubusercontent.com/KurtMage/KurtMage.github.io/main/images/2XKO/2025/D.png");
    --bot-row-index-finger-button-source-image: url("https://raw.githubusercontent.com/KurtMage/KurtMage.github.io/main/images/2XKO/2025/S1.png");
    --bot-row-middle-finger-button-source-image: url("https://raw.githubusercontent.com/KurtMage/KurtMage.github.io/main/images/2XKO/2025/S2.png");
    --bot-row-ring-finger-button-source-image: url("https://raw.githubusercontent.com/KurtMage/KurtMage.github.io/main/images/2XKO/2025/T.png");
    --bot-row-pinky-finger-button-source-image: url("https://raw.githubusercontent.com/KurtMage/KurtMage.github.io/main/images/2XKO/2025/P white borderd.png");

    /* Start/back vars */
    --start-button-source-image: url("https://raw.githubusercontent.com/KurtMage/KurtMage.github.io/main/images/2XKO/2025/Blank.png");
    --back-button-source-image: url("https://raw.githubusercontent.com/KurtMage/KurtMage.github.io/main/images/2XKO/2025/Blank.png");

    /* L3/R3 button vars */
    --ls-button-source-image: url("https://raw.githubusercontent.com/KurtMage/KurtMage.github.io/main/images/2XKO/2025/Blank.png");
    --rs-button-source-image: url("https://raw.githubusercontent.com/KurtMage/KurtMage.github.io/main/images/2XKO/2025/Blank.png");

    /* Location vars */
    --vert-clearance: 160px;
    --diag-vert-clearance: 80px;
    --diag-horz-clearance: 140px;
    --horz-clearance: var(--vert-clearance);
    --a-top: 375px;
    --b-top: calc(var(--a-top) - var(--diag-vert-clearance));
    --x-top: calc(var(--a-top) - var(--vert-clearance));
    --y-top: calc(var(--x-top) - var(--diag-vert-clearance));
    --rb-top: calc(var(--y-top));
    --lb-top: calc(var(--rb-top));
    --rt-top: calc(var(--rb-top) + var(--vert-clearance));
    --lt-top: var(--rt-top);
    --start-top: calc(var(--x-top) - 95px);
    --back-top: calc(var(--x-top));
    --ls-top: calc(var(--a-top) + 100px);
    --rs-top: calc(var(--a-top) + 100px);
    
    --a-left: 575px;
    --b-left: calc(var(--a-left) + var(--diag-horz-clearance));
    --x-left: var(--a-left);
    --y-left: calc(var(--a-left) + var(--diag-horz-clearance));
    --rb-left: calc(var(--y-left) + var(--horz-clearance));
    --lb-left: calc(var(--rb-left) + var(--horz-clearance));
    --rt-left: calc(var(--rb-left));
    --lt-left: calc(var(--rt-left) + var(--horz-clearance));
    --start-left: calc(var(--x-left) - 193px);
    --back-left: calc(var(--start-left) + 104px);
    --ls-left: calc(var(--a-left) - 280px);
    --rs-left: calc(calc(var(--a-left) + 130px));
    
    --dir-right-top: calc(var(--x-top) + 75px);
    --dir-right-left: calc(var(--x-left) - 150px);
    --dir-down-top: calc(var(--dir-right-top) - var(--diag-vert-clearance));
    --dir-down-left: calc(var(--dir-right-left) - var(--diag-horz-clearance));
    --dir-left-top: var(--dir-down-top);
    --dir-left-left: calc(var(--dir-down-left) - var(--horz-clearance));
    --dir-up-top: calc(var(--dir-right-top) + 230px);
    --dir-up-left: calc(var(--dir-right-left) + 75px);

    --vert-clearance: 160px;
    --diag-vert-clearance: 80px;
    --diag-horz-clearance: 140px;

    --top-row-index-button-row: 0;
    --top-row-index-button-col: 0;
    --top-row-index-finger-button-row: 0;
    --top-row-index-finger-button-col: 0;
    --top-row-middle-finger-button-row: 0;
    --top-row-middle-finger-button-col: 1;
    --top-row-ring-finger-button-row: 0;
    --top-row-ring-finger-button-col: 2;
    --top-row-pinky-finger-button-row: 0;
    --top-row-pinky-finger-button-col: 3;
    --bot-row-index-finger-button-row: 1;
    --bot-row-index-finger-button-col: 0;
    --bot-row-middle-finger-button-row: 1;
    --bot-row-middle-finger-button-col: 1;
    --bot-row-ring-finger-button-row: 1;
    --bot-row-ring-finger-button-col: 2;
    --bot-row-pinky-finger-button-row: 1;
    --bot-row-pinky-finger-button-col: 3;
}

.controller.fight-stick {
    /* background: url(https://imgur.com/AEMTeDY.png) center no-repeat; */
    background: transparent;
    height: 535px;
    width: 1500px;
}

.fight-stick.disconnected {
    margin:auto;
    width:50%;
    height:50%;
    background: url(https://imgur.com/oDdTc1t.png) no-repeat;
}

/* start/back */

.fight-stick .back, .fight-stick .start {
    position: fixed;
    width: 100px;
    height: 100px;
    top: var(--start-top);
    display: block;
    border-radius: 0%;
    background-repeat: repeat;
    transform:translate(-50%, -50%);
}

.fight-stick .back {
    background-image: var(--back-button-source-image);
    background-repeat: repeat;
    background-color: transparent;
    border-radius: 0px;
    left: var(--back-left);
    background-size: cover;
}

.fight-stick .start {
    background-image: var(--start-button-source-image);
    background-repeat: repeat;
    background-color: transparent;
    border-radius: 0px;
    left: var(--start-left);
    background-size: cover;
}

.fight-stick .back.pressed, .fight-stick .start.pressed {
    width:130px;
    height:130px;
    transform:translate(-50%, -50%);
    -webkit-filter: brightness(100%) invert(0);
    background-position-y: 100%;
}

/* Face buttons */

.fight-stick .button {
    position:fixed;
    width: 150px;
    height: 150px;
    background-size: cover;
    border-radius: 0px;
    background-repeat: repeat;
    transform: translate(-50%, -50%);
}

.fight-stick .button.pressed {
    width: 200px;
    height: 200px;
    transform: translate(-50%, -50%);
    -webkit-filter: invert(0);
}

.fight-stick .a {
    background-image: var(--bot-row-index-finger-button-source-image);
    background-repeat: repeat;
    background-color: transparent;
    border-radius: 0px;
    top: var(--a-top);
    left: var(--a-left);
    --row: var(--bot-row-index-finger-button-row);
    --col: var(--bot-row-index-finger-button-col);
}

.fight-stick .a.pressed {
    --row: var(--bot-row-index-finger-button-row);
    --col: var(--bot-row-index-finger-button-col);
    background-position-y: 100%;
}

.fight-stick .b {
    background-image: var(--bot-row-middle-finger-button-source-image);
    background-repeat: repeat;
    background-color: transparent;
    border-radius: 0px;
    top: var(--b-top);
    left: var(--b-left);
    --row: var(--bot-row-middle-finger-button-row);
    --col: var(--bot-row-middle-finger-button-col);
}


.fight-stick .b.pressed {
    --row: var(--bot-row-middle-finger-button-row);
    --col: var(--bot-row-middle-finger-button-col);
    background-position-y: 100%;
}

.fight-stick .x {
    background-image: var(--top-row-index-finger-button-source-image);
    background-repeat: repeat;
    background-color: transparent;
    border-radius: 0px;
    top: var(--x-top);
    left: var(--x-left);
    --row: var(--top-row-index-finger-button-row);
    --col: var(--top-row-index-finger-button-col);
}

.fight-stick .x.pressed {
    --row: var(--top-row-index-finger-button-row);
    --col: var(--top-row-index-finger-button-col);
    background-position-y: 100%;
}

.fight-stick .y {
    background-image: var(--top-row-middle-finger-button-source-image);
    background-repeat: repeat;
    background-color: transparent;
    border-radius: 0px;
    top: var(--y-top);
    left: var(--y-left);
    --row: var(--top-row-middle-finger-button-row);
    --col: var(--top-row-middle-finger-button-col);
}

.fight-stick .y.pressed {
    --row: var(--top-row-middle-finger-button-row);
    --col: var(--top-row-middle-finger-button-col);
    background-position-y: 100%;
}

/* Bumpers */

.fight-stick .bumper {
    position:fixed;
    width: 150px;
    height: 150px;
    background-size: cover;
    border-radius: 0px;
    background-repeat: repeat;
    transform: translate(-50%, -50%);
}

.fight-stick .bumper.pressed {
    width: 200px;
    height: 200px;
    transform: translate(-50%, -50%);
    -webkit-filter: invert(0);
}

.fight-stick .bumper.right {
    background-image: var(--top-row-ring-finger-button-source-image);
    background-repeat: repeat;
    background-color: transparent;
    border-radius: 0px;
    top: var(--rb-top);
    left: var(--rb-left);
    --row: var(--top-row-ring-finger-button-row);
    --col: var(--top-row-ring-finger-button-col);
}

.fight-stick .bumper.right.pressed {
    --row: var(--top-row-ring-finger-button-row);
    --col: var(--top-row-ring-finger-button-col);
    background-position-y: 100%;
}

.fight-stick .bumper.left {
    position:fixed;
    background-image: var(--top-row-pinky-finger-button-source-image);
    background-repeat: repeat;
    background-color: transparent;
    border-radius: 0px;
    float: right;
    top: var(--lb-top);
    left: var(--lb-left);
}

.fight-stick .bumper.left.pressed {
    background-position-y: 100%;
}

/* Triggers */

.fight-stick .trigger-button {
    position: fixed;
    width: 150px;
    height: 150px;
    background-size: cover;
    transform: translate(-50%, -50%);
}

.fight-stick .trigger-button.pressed {
    width: 200px;
    height: 200px;
    transform: translate(-50%, -50%);
    -webkit-filter: invert(0);
    background-position-y: 100%;
}

.fight-stick .trigger-button.right {
    background-image: var(--bot-row-ring-finger-button-source-image);
    background-repeat: repeat;
    background-color: transparent;
    border-radius: 0px;
    top: var(--rt-top);
    left: var(--rt-left);
    float: left;
}

.fight-stick .trigger-button.right.pressed {
    background-position-y: 100%;
}

.fight-stick .trigger-button.left {
    position:fixed;
    background-image: var(--bot-row-pinky-finger-button-source-image);
    background-repeat: repeat;
    background-color: transparent;
    border-radius: 0px;
    top: var(--lt-top);
    left: var(--lt-left);
    float: left;
}

.fight-stick .trigger-button.left.pressed {
    background-position-y: 100%;
}

/* L3/R3 */

.fight-stick .stick.right {
    background-image: var(--rs-button-source-image);
    background-repeat: repeat;
    background-color: transparent;
    border-radius: 0px;
    position: fixed;
    top: var(--rs-top);
    left: var(--rs-left);
    width: 150px;
    height: 150px;
    background-size: cover;
    display: block;
    translate: -50% -50%;
}

.fight-stick .stick.right.pressed {
    width: 200px;
    height: 200px;
    background-position-y: 100%;
    translate: -50% -50%;
}

.fight-stick .stick.left {
    background-image: var(--ls-button-source-image);
    background-repeat: repeat;
    background-color: transparent;
    border-radius: 0px;
    position: fixed;
    top: var(--ls-top);
    left: var(--ls-left);
    width: 150px;
    height: 150px;
    background-size: cover;
    display: block;
    background-repeat: repeat;
    translate: -50% -50%;
}

.fight-stick .stick.left.pressed {
    width: 200px;
    height: 200px;
    background-position-y: 100%;
    translate: -50% -50%;
}

.fight-stick .quadrant {
    display: none;
}

/* Stick */

.fight-stick .fstick {
    visibility: hidden;
}

.fight-stick .fstick.up {
    background-position-x: 100%;
}

.fight-stick .fstick.down {
    background-position-x: calc(4 * 100% / 8);
}

.fight-stick .fstick.left {
    background-position-x: calc(6 * 100% / 8);
}

.fight-stick .fstick.right {
    background-position-x: calc(2 * 100% / 8);
}

.fight-stick .fstick.up.right {
    background-position-x: calc(100% / 8);
}

.fight-stick .fstick.up.left {
    background-position-x: calc(7 * 100% / 8);
}

.fight-stick .fstick.down.right {
    background-position-x: calc(3 * 100% / 8);
}

.fight-stick .fstick.down.left {
    background-position-x: calc(5 * 100% / 8);
}

/* Direction buttons */

.fight-stick .face {
    position:fixed;
    transform:translate(-50%, -50%);
}

.fight-stick .face.up {
    width: 150px;
    height: 150px;
    background-size: cover;
    background-image: var(--up-arrow-source-image);
    background-repeat: repeat;
    border-radius: 0%;
    opacity: 1;
    display: block;
    top: var(--dir-up-top);
    left: var(--dir-up-left);
}

.fight-stick .face.up.pressed {
    background-position-y: 100%;
    width:200px;
    height:200px;
}

.fight-stick .face.right {
    width: 150px;
    height: 150px;
    background-size: cover;
    background-image: var(--right-arrow-source-image);
    background-repeat: repeat;
    border-radius: 0%;
    opacity: 1;
    display: block;
    top: var(--dir-right-top);
    left: var(--dir-right-left);
}

.fight-stick .face.right.pressed {
    background-position-y: 100%;
}

.fight-stick .face.down {
    width: 150px;
    height: 150px;
    background-size: cover;
    background-image: var(--down-arrow-source-image);
    background-repeat: repeat;
    border-radius: 0%;
    opacity: 1;
    display: block;
    top: var(--dir-down-top);
    left: var(--dir-down-left);
}

.fight-stick .face.down.pressed {
    background-position-y: 100%;
}

.fight-stick .face.left {
    width: 150px;
    height: 150px;
    background-size: cover;
    background-image: var(--left-arrow-source-image);
    background-repeat: repeat;
    border-radius: 0%;
    opacity: 1;
    display: block;
    top: var(--dir-left-top);
    left: var(--dir-left-left);
}

.fight-stick .face.left.pressed {
    background-position-y: 100%;
}

.fight-stick .face.pressed {
    width: 200px;
    height: 200px;
    transform:translate(-50%, -50%);
}


